@model IEnumerable<KSC.Models.PersonalAchievementViewModel>


@{
    ViewBag.Title = "ViewPersonalAchievement";
    Layout = null;
}

<h2>來送的 紀錄保持人</h2>
<table class="table" title="">
    <tr>
        <th style="background-color:darkorange">
            @Html.DisplayNameFor(model => model.Death_Number)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.UsedHero)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.GameTime_M)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.GameTime_S)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.BeDamage)
        </th>
        <th style="background-color:lightblue">
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th style="background-color:darkorange">
                @Html.DisplayFor(modelItem => item.Death_Number)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Date)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.UsedHero)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.GameTime_M)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.GameTime_S)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.BeDamage)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Result)
            </th>
            <th></th>
        </tr>
    }

</table>